@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div style="margin-top: 3rem;">
    @*<div style="margin-top: 3rem;">Async <InputFile @onchange="async (e) => await LoadFileAsync(e)" /></div>*@
    <div style="margin-top: 3rem;">Synchronous <InputFile OnChange="@LoadFile" /></div>
    @*<div style="margin-top: 3rem;">Synchronous <input type="file" @onchange="() => LoadFileAsync(e)" /></div>*@

    @*<div style="margin-top: 3rem;">Synchronous <input type="file" onchange="@LoadFile" /></div>*@

</div>

@code {
    private int currentCount = 0;

    long maxFileSize = 2 * 1024 * 1024; // 2MB

    private void IncrementCount()
    {
        currentCount++;
        if (currentCount > 2)
        {
            throw new Exception(DateTime.Now.ToString()); // this Exception reaches errorBoundary
        }
    }

    private async Task LoadFileAsync(InputFileChangeEventArgs e)
    {
        throw new Exception();
    }

    private void LoadFile(InputFileChangeEventArgs e)
    {
        throw new Exception();
    }
}
