<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <Router AppAssembly="typeof(Program).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
                <FocusOnNavigate RouteData="routeData" Selector="h1" />
            </Found>
        </Router>
    </ChildContent>
    <ErrorContent Context="ctx">
        <p>Error</p>
        <p>@ctx.Message</p>
        <p>@ctx.ToString()</p>

    </ErrorContent>
</ErrorBoundary>

@code
{
    private ErrorBoundary errorBoundary;
    private void HandleError(Exception exception)
    {
        Console.WriteLine($"Error: {exception.Message}");
    }
}